*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}



/*============== headerlogo ==============*/
span{
  font-size:22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: #ffb2dd;
  font-weight: bold;
}
#logoheader{
  max-width: 70px;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  background: #ffb2dd;
  border-radius: 8px;
}
/*================ Sidebar ======================*/
.sidebar {
  margin: 0;
  padding: 0;
  width:210px;
  background-color:#c94f7c;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: #ffb2dd;
  font-weight: 600;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #cf649a;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color:#ffb2dd;
  color: white;
}
/*============== Section: General sections =================*/
#main-doc{
  position: absolute;
   margin-left: 210px;
   padding: 20px;
   margin-bottom: 110px;
}
 header{
  font-size: 4rem;
  font-weight:200;
  color: #ec407a;
  text-align: left;
  margin: auto;
}
#main-doc p{
  font-size: 1.125rem;
  color: #6b717f;
  font-weight:lighter;
  margin-top: 1.75rem;
  text-align: justify;
}
#main-doc h2{
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: lighter;
}
hr{
  display: block;
  color: #cf649a;
  margin-top: 2em;
  margin-bottom: 1em;
}
.sections{
  font-size: 2rem;
  font-weight: bold;
}
h2{
  color: #669999;
}
/*===============Code elements in p ========================*/
code{
  font-size: 0.88889em;
  line-height: 1;
  color: #ec407a;
}
.examples{
  color: #31333a;
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  margin-top: 1rem;
  background-color:#fce4ec;
  padding: 15px;
  border-radius: 5px;
}

/*===============Code examples Variables ========================*/
.titlex{
  padding-left: 1rem;
  font-size: 1.5rem;
  color:#669999;
}

.example-variables{
  margin-top: 2rem;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 6rem;
  width: 100%;

}

.examples01, .examples02, .examples03{
  background-color:#fce4ec;
  border-radius: 8px;
  box-shadow: 3px 3px 7px #f48fb1;
}

#exout{
 color: #000;
}

/*==================Code examples Nesting===========================*/
.example-nesting{
  margin-top: 2rem;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 100px;
  width: 100%;
}

.examples04, .examples05, .examples06{
  background-color:#fce4ec;
  border-radius: 8px;

  box-shadow: 2px 2px 6px #f48fb1;
}
/*=================Code examples Import =============================*/
.example-import{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 100px;
  width: 100%;
}

.example07, .example08, .example09{
  background-color:#fce4ec;
  border-radius: 8px;

  box-shadow: 2px 2px 6px #f48fb1;
}

#hr_import{
  background-color:#f8bbd0;
  border-top: 4px dashed #f50057;
}
/*=====================Code examples Mixins ============================*/
.example-mixins{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 100px;
  width: 100%;
}

.example10, .example11, .example12{
  background-color:#fce4ec;
  border-radius: 8px;

  box-shadow: 2px 2px 6px #f48fb1;
}
/*=====================Code example Extend ============================*/

.example-extend{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 100px;
  width: 100%;
}
.example13, .example14, .example15{
  background-color:#fce4ec;
  border-radius: 8px;

  box-shadow: 2px 2px 6px #f48fb1;
}
/*=======================Code example Operators =======================*/

.example-operators{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 100px;
  width: 100%;
}
.example16, .example17, .example18{
  background-color:#fce4ec;
  border-radius: 8px;

  box-shadow: 2px 2px 6px #f48fb1;
}
/*============== Introduction / Intro =================*/
#Introduction #intro{
  color: #6b9999;
  font-size: 1.90rem;
  font-style:;
}

#Introduction{

}

/*====================== FOOTER ===============================*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon ion-heart{
  color: red;
}

/*======================= queries =============================*/

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  #main-doc{margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
