*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}



/*============== headerlogo ==============*/
span{
  font-size:22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: #ffb2dd;
  font-weight: bold;
}
#logoheader{
  max-width: 70px;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  background: #ffb2dd;
  border-radius: 8px;
}
/*================ Sidebar ======================*/
.sidebar {
  margin: 0;
  padding: 0;
  width:210px;
  background-color:#c94f7c;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #cf649a;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color:#ffb2dd;
  color: white;
}
/*============== Section: General sections =================*/
#main-doc{
  position: absolute;
   margin-left: 210px;
   padding: 20px;
   margin-bottom: 110px;
}
 header{
  font-size: 4rem;
  font-weight:200;
  color: #669999;
  text-align: left;
  margin: auto;
}
#main-doc p{
  font-size: 1.125rem;
  color: #6b717f;
  font-weight:lighter;
  margin-top: 1.75rem;
  text-align: justify;
}
#main-doc h2{
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: lighter;
}
/*===============Code elements ========================*/
code{
  color: #31333a;
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  margin-top: 1rem;
  background-color: red;
  padding: 15px;
  border-radius: 5px;
}

/*============== Section:Introduction =================*/
#Introduction #intro{
  color: #cf649a;
  font-size: 2rem;
  font-style: oblique;
}

#Introduction{

}





























/*======================= queries =============================*/

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  #main-doc{margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
